#welcome-banner {
    margin-top: 100px;
}

#github-heading {
    margin-top: 20px;
}

#github-heading div {
    display: inline-block;
    vertical-align: middle;
}

#github-heading div * {
    margin-bottom: 0;
}

#github-aside {
    position: absolute;
    right: 0;
}

#contact-banner * {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

#linkedin-button {
    background-color: #0077B5;
    color: white;
}

.description button {
    margin-bottom: 0;
}

#repository-table tbody tr {
    transition: background-color 0.2s;
}

#repository-table tbody tr:hover {
    cursor: pointer;
    background-color: whitesmoke;
}
